<table class="table table-hover">
    <tbody>
        <tr *ngFor="let c of categories | filterCat : filter;let i = index" class="table-active">
        <th scope="row"></th>
        <td><h1>{{c.name}}</h1></td>
        <td>{{c.description}}</td>
        <td><input type="button" class="btn btn-info" (click)="showRecettes(c.name)" value="Recettes associées"></td>
        <td><input type="button" class="btn btn-warning" (click)="modifyCategory(c.id)" value="Modifier"></td>
        <td><input type="button" class="btn btn-danger" (click)="deleteCategory(c.id, i)" value="Supprimer"></td>
        </tr>
    </tbody>
</table>
